*~
target
.DS_Store
.faces-config.xml.faceside
.faces-config.xml.jsfdia
.tern-project
MANIFEST.MF
bin
.openshift
*/.gitignore
.gitkeep
.errai
out
.idea
*.ipr
*.iws
*.iml
.classpath
.project
.settings
.metadata
.factorypath
bin
.nbattrs
*.log
.clover
*.swp
*.war

