<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Simple tool for storing and analyzing tests results</display-name>

	<filter>
		<filter-name>wicketfilter</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>basicAuthenticationFilter</filter-name>
		<filter-class>org.jboss.qa.tool.saatr.web.auth.BasicAuthenticationFilter</filter-class>
	</filter>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<filter-mapping>
		<filter-name>basicAuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>wicketfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>org.jboss.qa.tool.saatr.web.upload.UploadServlet</servlet-class>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>

</web-app>
