<?xml version="1.0" encoding="UTF-8"?>
<config>
	<properties>
		<property name="timestamp"/>
		<property name="jobName"/>
		<property name="eapVersion"/>
		<property name="testCase"/>
		<property name="testName"/>
		<property name="txType">
			<options>
				<option>JTA</option>
				<option>JTS</option>
			</options>
		</property>
	</properties>
</config>