<?xml version="1.0" encoding="UTF-8"?>
<document>
	<name>CrashRecFailed</name>
	<jenkinsMinerClass>org.jboss.qa.tool.saatr.jenkins.miner.crashrec.CrashRecJenkinsMiner</jenkinsMinerClass>
	<fields>
		<field>
			<name>timestamp</name>
		</field>
		<field>
			<name>jobName</name>
		</field>
		<field>
			<name>eapVersion</name>
		</field>
		<field>
			<name>testCase</name>
		</field>
		<field>
			<name>testName</name>
		</field>
		<field>
			<name>txType</name>
			<options>
				<option>JTA</option>
				<option>JTS</option>
			</options>
		</field>
	</fields>
</document>