body {
	padding-top: 35px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.clicable {
	cursor: pointer;
}

div.wicket-aa {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;
	font-size: 12px;
	background-color: white;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align: left;
}

div.wicket-aa ul {
	list-style: none;
	padding: 2px;
	margin: 0;
}

div.wicket-aa ul li.selected {
	background-color: #5897fb;
	padding: 2px;
	margin: 0;
	color: white;
}

.clicableTableRow {
	cursor: pointer;
}

.sub-panel-heading {
	padding: 5px 5px;
}

.tab-panel {
	margin-top: 15px;
}

.panel-properties .top-buffer {
	margin-top: 20px;
}

.margin-top-10 {
	margin-top: 10px;
}

.tree-table table {
	width: 100%;
}

.tree-table table tr.even {
	background-color: #FFFFFF;
}

.tree-table table tr.odd {
	background-color: #EEEEEE;
}

table.small {
	font-size: 10px;
}

table.small>tbody>tr>td {
	padding-bottom: 0;
	padding-top: 0;
}

tree-branch {
	display: block;
}

tree-node {
	display: block;
}

tree-content {
	display: block;
}

.tree-content input {
	float: left;
	display: block;
}

.tree-node>span.tree-content:hover {
	background-color: #f5f5f5;
}

.tree-content a {
	float: left;
	display: block;
}

.tree-label {
	float: left;
	display: block;
}

.tree-column {
	float: left;
	display: block;
}

.tree-row-line {
	border-bottom: 1px solid #ddd;
}

.tree-column-1 {
	width: 600px;
}

.tree-column-2 {
	width: 50px;
}

.tree-column-3 {
	width: 50px;
}

.tree-column-4 {
	width: 150px;
}